.nav-bg{
    background: conic-gradient(from 225deg at 40% -4%, #1f005c, #7d0061, #bc365d, #e6745c, #ffb56b);
}

.search:hover{
    background-color: #fff;
    color: #000 !important;
}

.text-purple{
    color: #800080;
}

.bg-purple{
    background-color: #800080;
}

.social-bg{
    background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
}

.footer-bg{
    background-color: rgba(0, 0, 0, 0.2);
}

.wallcard{
    margin-top: -30px;
}

.box-shadow1{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.explore-shadow{
    box-shadow: 1.3rem 1.3rem 1.3rem rgb(0 0 0 / 60%);
    /* width: 380px; */
    margin-left: 20px;
    margin-right: 20px;
}

.explore-shadow:hover{
    /* width: 420px; */
    margin-left: 0px;
    margin-right: 0px; 
    box-shadow: 0.3rem 0.3rem 0.3rem rgb(0 0 0 / 20%);
}

.card-one {
    height: 215px;
    transition: 0.3s ease-in-out;
  }

  .card-one:hover {
    height: 450px;
  }

.card-one .content {
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    color: #111;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease-in-out;
  }

  .card-one:hover .content {
    visibility: visible;
    opacity: 1;
    margin-top: -10px;
    transition-delay: 0.3s;
  }

  @media only screen and (max-width:1200px) {

    .card-one:hover {
        height: 550px;
      }

  }

  @media only screen and (max-width:992px) {

    .card-one:hover {
        height: 480px;
      }

  }

  @media only screen and (max-width:768px) {

    .card-one:hover {
        height: 400px;
      }

  }

  @media only screen and (max-width:460px) {

    .card-one:hover {
        height: 450px;
      }

  }

  @media only screen and (max-width:397px) {

    .card-one:hover {
        height: 500px;
      }

  }

  @media only screen and (max-width:347px) {

    .card-one:hover {
        height: 550px;
      }

  }

  @media only screen and (max-width:322px) {

    .card-one:hover {
        height: 600px;
      }

  }

  @media only screen and (max-width:281px) {

    .card-one:hover {
        height: 690px;
      }

  }

  @media only screen and (max-width:1400px) {
    .explore-shadow:hover{
        box-shadow: 1.3rem 1.3rem 1.3rem rgb(0 0 0 / 60%);
        /* width: 100%; */
        margin-left: 0 px;
        margin-right: 0 px;
    }

    .explore-shadow{
        box-shadow: 1.3rem 1.3rem 1.3rem rgb(0 0 0 / 60%);
        /* width: 350px; */
        margin-left: 0 px;
        margin-right: 0 px;
    }
  }